{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },
  "extends": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "plugins": [
    "prettier",
    "import"
  ],
  "rules": {
    "prettier/prettier": "error"
  },
  "globals": {
    "jQuery": true,
    "$": true
  }
}
  