.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 28px;
  font-family: 'Unbounded var', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;

  & span,
  & a:hover {
    @apply text-ochre;

    svg path.stroke-grey {
      @apply stroke-ochre;
    }
  }
}