@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'base/fonts';
@import 'libs/swiper_slider';
@import 'components/header_menu';
@import 'components/footer_menu';
@import 'components/mob_menu';

html {
  font-family: 'Manrope', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Manrope var', sans-serif;
  }
}

.font-unbounded {
  font-family: 'Unbounded', sans-serif;
}

@supports (font-variation-settings: normal) {
  .font-unbounded {
    font-family: 'Unbounded var', sans-serif;
  }
}

.font-badscript {
  font-family: 'Bad Script', sans-serif;
}

.reviews-slider-pagination > span.active {
  opacity: 1;
}

.news-slider-pagination > span.active {
  @apply bg-ochre;
}
